body {
  background-color: rgba(252, 141, 242, 1);
}
.homebar {
  background-color: rgba(196, 226, 29, 0.8);
  position: absolute;
  top: 40px;
  height: 40px;
  width: 100vw;
  z-index: 40;
}
.homebar a{
  transform-origin: 50% 50%;
  transition: transform .2s ease-out;
  float: right;
  color: white;
  text-align: center;
  font-family: Open Sans Condensed;
  text-decoration: none;
  padding: 10px 50px;
}
.homebar a:hover{
  /*font-size: 20px;*/
  transform: scale(1.5);
  font-weight: 900;
}
